h1 {
  text-align: center;
}
table {
  text-align: center;
  align-items: center;
}
.navigation {
  text-align: center;
  padding: 0;
}
.navigation li {
  display: inline-block;
  text-align: center;
}
input[type="Name"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="Email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: block;
